/mydevtool/.gradle/
/mydevtool/bin/
/mydevtool/build/
/mydevtool/artifacts/
/FixEnv/.gradle/
/FixEnv/bin/
/FixEnv/build/
/FixEnv/artifacts/

/resources/icons/Thumbs.db
.DS_Store
/bundle_paths.properties
/bundle_scan.properties
